<h1 mat-dialog-title>{{mPok.name | uppercase}}</h1>
<div mat-dialog-content>

  <div *ngIf="mPok.sprites; then thenBlock else elseBlock"></div>
  <ng-template #thenBlock>
    <!-- Ne fonctionne pas
      <mdb-carousel [isControls]="false" [animation]="'slide'">
          <mdb-carousel-item>
            <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(130).jpg" alt="First slide">
          </mdb-carousel-item>
          <mdb-carousel-item>
            <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(129).jpg" alt="Second slide">
          </mdb-carousel-item>
          <mdb-carousel-item>
            <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg" alt="Third slide">
          </mdb-carousel-item>
        </mdb-carousel>
    -->
    <main>
      <article>
        <img class="sprites centerImage" src={{mPok.sprites.front_default}} width="250px" height="auto"
          alt="Photo of {{mPok.name}}">
        <div>
          <div>
            <table width="100%">
              <tr>
                <td *ngFor="let mType of mPok.types" class="center middle">
                  <img src="assets/types/{{mType}}.png" width="50px">
                </td>
              </tr>
            </table>
          </div>
          <br>
          <div>
            <table>
              <tr>
                <td class="middle">
                  <img src="assets/icons/height.png" width="30px">
                </td>
                <td class="middle">
                    <p style="font-size:20px;">{{mPok.height}}</p> <!-- Ajouter un pipe pour le poids ? -->
                </td>
              </tr>
              <tr>
                <td valign="middle">
                  <img src="assets/icons/weight-scale.png" width="30px">
                </td>
                <td valign="middle">
                    <p style="font-size:20px;">{{mPok.weight}}</p> <!-- Ajouter un pipe pour le poids ? -->
                </td>
              </tr>
            </table>
          </div>
        </div>

      </article>
      <article>
        <div *ngFor="let mStat of mPok.stats | keyvalue">
          <h4>{{mStat.key | uppercase}}</h4>
          <mat-progress-bar [mode]="determinate" [value]="mStat.value" color="warn">
          </mat-progress-bar>
        </div>
      </article>


    </main>


  </ng-template>
  <ng-template #elseBlock>
    <mat-spinner></mat-spinner>
  </ng-template>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()" cdkFocusInitial>Fermer</button>
</div>